@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800;);

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fffdf6;
}

.logo img {
  width: 220px;
  margin-left: 15vw;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400);
.buttonContact {
  font-family: "Raleway", Arial, sans-serif;
  border: none;
  width: 30%;
  background-color: #4a3008;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin-left: 50%;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 65%;
  text-decoration: none;
}

.buttonContact:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.buttonContact:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #4a3008;
  content: "";
  border-radius: inherit;
}
.buttonContact:hover,
.buttonContact.hover {
  background-color: #4a3008;
  color: #ffffff;
}
.buttonContact:hover:before,
.buttonContact.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}

nav {
  align-items: center;
  min-height: 12vh;
  font-family: "Arial", sans-serif;
  background-color: #dbd4c7;
  display: grid;
  grid-template-columns: 50vw 25vw 50vw;
  overflow: hidden;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 30vh;
  top: 10vh;
  background-color: #dbd4c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  justify-content: space-around;
  width: 25vw;
  overflow: hidden;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #4a3008;
  text-decoration: none;
  letter-spacing: 0.1vw;
  font-size: 2vh;
}

.burger {
  cursor: pointer;
  margin-left: 15vw;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #4a3008;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

hr {
  border: none;
  border-top: 0.2vh solid #4a3008;
  color: #4a3008;
  overflow: visible;
  text-align: center;
  width: 13vw;
}

ul {
  z-index: 2;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.fig1-2 {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 1%;
}

#image1 {
  margin-top: 36%;
  border-radius: 10px;
}

#image2 {
  margin-top: 50%;
  border-radius: 10px;
}

.fig3-4 {
  display: flex;
  flex-direction: column;
  margin-top: -34%;
  margin-right: 3.5%;
  width: 15%;
}

#image3 {
  /* margin-top: -15%; */
  border-radius: 10px;
}

#image4 {
  margin-top: 45%;
  border-radius: 10px;
}

.container-carousel {
  display: flex;
  width: 100%;
}

.carousel {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: auto;
  overflow: hidden;
  /* width: 800px; */
  max-width: 60vw;
  box-shadow: 0px 15px 10px -5px #777;
  margin-top: -36%;
  margin-left: 20%;
}

.block {
  display: flex;
  animation: defilement1 25s ease-in-out infinite;
  width: 2000px;
}

.carousel-image {
  object-fit: cover;
}

@keyframes defilement1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-60%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.snip1541 {
  background-color: #dbd4c7;
  color: #dbd4c7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 30px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1541 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1541 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1541 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
  -webkit-transform: translateX(75%) rotate(180deg);
  transform: translateX(75%) rotate(180deg);
}

.snip1541 figcaption:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #4a3008;
  border-radius: 50%;
  content: "";
  height: 150px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 150px;
  z-index: -1;
}

.snip1541 h3 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1541 h3 span {
  display: block;
  font-weight: 800;
}

.snip1541 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1541:hover > img,
.snip1541.hover > img {
  opacity: 0.1;
}

.snip1541:hover figcaption,
.snip1541.hover figcaption {
  -webkit-transform: translate(0px) rotate(0deg);
  transform: translate(0px) rotate(0deg);
  opacity: 1;
}

.logosreseau {
  grid-column: 2;
  display: flex;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #dbd4c7;
  min-height: 12vh;
  margin-top: 6rem;
  bottom: 0; 
}

.logosreseau {
  width: auto;
  grid-column: 2;
  display: flex;
}
#instagram {
  margin-left: 48%;
  /* width: 25px; */
}

#facebook {
  margin-left: 4%;
  /* width: 25px; */
}

#tweeter {
  margin-left: 5%;
  /* width: 25px; */
}

.mentions {
  grid-column: 5;
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .logo img {
    width: 200px;
    margin-left: 35%;
  }

  .buttonContact {
    display: flex;
    width: 12vw;
    font-size: 0.8rem;
    line-height: 2;
    margin-left: 40%;
    justify-content: center;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links {
    width: 40vw;
    top: 10%;
  }

  hr {
    border-top: 0.2vh solid #4a3008;
    width: 35vw;
  }

  .conteneur1 {
    overflow: hidden;
    max-width: 360px;
    box-shadow: 0px 15px 10px -5px #777;
   }

  .fig1-2 {
    margin-left: -0.5%;
  }
  
  #image1 {
    margin-top: 80%;
  }
  
  #image2 {
    margin-top: 80%;
  }
  
  .fig3-4 {
    display: flex;
    flex-direction: column;
    margin-top: -55%;
    margin-right: 15%;
    width: 15%;
  }
  
  #image4 {
    margin-top: 75%;
  }
  
  .carousel {
    max-width: none;
    margin: auto;
    margin-top: -60%;
    margin-left: 30%;
    width: 50%;
  }

  .snip1541 figcaption:before {
    height: 120px;
    width: 120px;
  }
  

@media screen and (max-width: 586px) {
  .logo img {
    width: 150px;
    margin-left: 35%;
  }

  .buttonContact {
    display: flex;
    width: 16vw;
    font-size: 0.5rem;
    line-height: 2.5;
    margin-left: 50%;
    justify-content: center;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links {
    width: 50vw;
    top: 9%;
  }

  .burger {
    margin-left: 25%;
  } 

  hr {
    border-top: 0.2vh solid #4a3008;
    width: 35vw;
  }

  .container-carousel {
    display: flex;
    width: 100%;
  }
  
   .carousel {
    max-width: none;
    margin:auto; 
    width: 800px;
  }
 
  .fig1-2 {
    display: none;
  }
  
  .fig3-4 {
    display: none;
  }
  
  .snip1541 {
    display: none;
  }

  footer {
    min-height: 13vh;
    margin-top: 0%;
  }

  #instagram {
    margin-left: 5%;
  }
  
  #facebook {
    margin-left: 10%;
  }
  
  #tweeter {
    margin-left: 10%;
  }
  
  .mentions {
    grid-column: 5;
    width: 8rem;
  }
}

  