* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  font-family: "Arial", sans-serif;
  background-color: #dbd4c7;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 30vh;
  top: 8vh;
  background-color: #dbd4c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #4a3008;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #4a3008;
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 2;
}

ul {
  z-index: 2;
}

footer {
  background-color: #dbd4c7;
  min-height: 12vh;
}

@media screen and (max-width: 586px) {
  body {
    overflow-x: hidden;
  }

  .logo img {
    width: 110px;
  }

  nav {
    min-height: 12vh;
  }

  ul {
    z-index: 2;
  }

  .burger div {
    z-index: 2;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  margin: 0;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin-top: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 8s slidy infinite;
  z-index: 1;
  
}

footer {
  display: flex;
  margin-top: 23rem
}
